<div  class="container-fluid">
	<span us-spinner class="spinner">{{msgs['loading']}}</span>
	<div class="row" ng-if="!gererPlusieursCat && !isAccueil">
		<div id="mobileSelect" class="col-sm-9" style="z-index: 9999">
			<button type="button" ng-blur="selectBlured(mySource.idHtml)"
				ng-focus="selectFocused(mySource.idHtml)"
				ng-change="sourceChanged(null, mySource.id)"
				class="btn btn-primary btn-lg btn-block" ng-model="mySource"
				bs-options="src.selectDesc for src in allcats" bs-select bs-affix>
			</button>
		</div>
		
		<div class="col-sm-3">
				<ul id="nav" class="nav bs-sidenav" bs-affix
				role="complementary">
				<!-- <li class="allCats"><a ng-click = "select(null, null)" >{{msgs['allNews']}}<span class="badge pull-right" >{{numberUnread}}</span></a></li>-->
				<li ng-class="{true:'active'}[src.isSelected]"
					ng-repeat="src in allcats" data-target="#{{src.idHtml}}"><a
					id="{{src.name}}" ng-click="select(null,src.id)"
					href="#{{src.idHtml}}"> {{src.name}} <span
						class="badge pull-right" style="{{colorText(src.color)}}">{{
							src.unreadItemsNumber }} </span>
				</a></li>

			</ul>
		</div>
		<div scroll class="col-md-9">
			<!--<div class="panel panel-default threeDots">
				<div class="panel-body" bs-affix>
					<a class="btn btn-link dropdown-toggle pull-right"
						data-toggle="dropdown"> <i class="material-icons">more_vert</i>
					</a>
					<ul class="dropdown-menu"
						style="right: 0; left: auto; z-index: 9999; padding:1em; margin:1em">
						<li><label><input ng-model="readFilter"  type="checkbox" ng-click="setFilterMode(readFilter)" /> {{msgs['onlyUnreads']}} </label></li>
					</ul>
				</div> 
			</div> --!>
			<div ng-repeat="source in selectedSources" data-target="#{{source.idHtml}}"
				ng-if="!isSourceEmpty(source.id)" class="panel panel-default" ng-class="{true:'threeDots'}[$index == 0]">
				
				<div  class="panel-heading" data-target="#{{source.idHtml}}" bs-affix>{{source.name}}
					 <a ng-if="$index == 1" class="btn btn-link dropdown-toggle pull-right"
                                                data-toggle="dropdown"> <i class="material-icons">more_vert</i>
                                        </a>
                                        <ul ng-if="$index == 1"  class="dropdown-menu"
                                                style="right: 0; left: auto; z-index: 9999; padding:1em; margin:1em">
                                                <li><label><input ng-model="readFilter"  type="checkbox" ng-click="setFilterMode(readFilter)" /> {{msgs['onlyUnreads']}} </label></li>
                                        </ul>
	
				</div>
				<div id="{{source.idHtml}}"></div>
				<div class="panel-body"
					ng-repeat="item in source.items | modeFilter:selectedMode track by $index">
					<div ng-if="!item.read">

						<div class="icon-controls">
							<a class="lec-btn-link toggleButton pull-right"
								ng-click="toggleItemReadState( source, item)" role="button"
								title="{{ msgs['markAsRead'] }}"> <i
								class="material-icons md-dark">visibility</i>
							</a>
						</div>

						<div class="unreadArticle" ng-bind-html="item.htmlContent">
						</div>

						<div class="col-xs-2 col-md-3 labelSpacer"></div>
						<div class=" col-xs-9 col-md-8 labelRubrique">
							<span ng-repeat="rubrique in item.rubriques"
								class="rubrique label" ng-click="select(null, rubrique.srcId)"
								style="{{colorText(rubrique.couleur)}}">{{rubrique.nom}}
							</span>

						</div>
						<hr />
					</div>
					<div ng-if="item.read">
						<div class="icon-controls">
							<a class="lec-btn-link toggleButton pull-right"
								ng-click="toggleItemReadState( source, item)" role="button"
								title="{{ msgs['markAsUnread'] }}"> <i
								class="material-icons md-dark">visibility_off</i>
							</a>
						</div>
						<div class="readArticle" ng-bind-html="item.htmlContent"></div>

						<div class="col-xs-2 col-md-3 labelSpacer"></div>
						<div class=" col-xs-9 col-md-8 labelRubrique">
							<span ng-repeat="rubrique in item.rubriques"
								ng-click="select(null, rubrique.srcId)" class="rubrique label"
								style="{{colorText(rubrique.couleur)}}">{{rubrique.nom}}</span>

						</div>
						<hr />
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row" ng-if="gererPlusieursCat && !isAccueil">
		<div id="mobileSelect" class="col-sm-9" style="z-index: 9999">
			<button type="button" ng-blur="selectBlured(mySource.idHtml)"
				ng-focus="selectFocused(mySource.idHtml)"
				ng-click="selectClicked(this)"
				ng-change="sourceChanged(mySource.idHtml)"
				class="btn btn-primary btn-lg btn-block" ng-model="mySource"
				bs-options="src.selectDesc for src in allcats" bs-select bs-affix>
			</button>
		</div>

		<div class="col-sm-3" >
			<ul class="nav bs-sidenav" bs-affix
				role="complementary">
				<li ng-repeat="cat in cats" data-target="#{{cat.idHtml}}" ng-class="{true:'active'}[cat.isSelected]"><a
					name="{{cat.name}}" ng-click="select(cat.id, null)">{{cat.name}}<span ng-if="($index== 0)" class="badge pull-right">{{cat.unreadItemsNumber}}</span></a>
					<ul class="nav">
						<li ng-repeat="src in cat.sources" data-target="#{{src.idHtml}}" ng-class="{true:'active'}[src.isSelected]">
							<a name="{{src.name}}" ng-click="select(cat.id, src.id)"
							href="#{{src.idHtml}}"> {{src.name}} <span
								class="badge pull-right">{{ src.unreadItemsNumber }} </span>
						</a>
						</li>
					</ul></li>
			</ul>
		</div>
		<div scroll class="col-md-9">
		<div class="panel panel-default threeDots">
				<div class="panel-body" bs-affix>
					<a class="btn btn-link dropdown-toggle pull-right"
						data-toggle="dropdown"> <i class="material-icons">more_vert</i>
					</a>
					<ul class="dropdown-menu"
						style="right: 0; left: auto; z-index: 9999; padding:1em; margin:1em">
						<li><label><input ng-model="readFilter"  type="checkbox" ng-click="setFilterMode(readFilter)" >{{msgs['onlyUnreads']}} <input/></label></li>
					</ul>
				</div>
			</div>
			<div ng-repeat="cat in selectedCats">
				<div ng-if="!isCatEmpty(cat.id)">
					<div ng-repeat="source in cat.selectedSrcs"
						class="panel panel-default">
						<div ng-if="!isSourceEmpty(source.id,cat.id)"
							class="panel-heading" data-target="#{{source.idHtml}}" bs-affix>
							{{cat.name}} -- {{ source.name }}</div>
						<div
							ng-if="isSourceEmpty(source.id,cat.id) && (isSelectedSrc(source) || guestMode) "
							class="panel-body">
							<p>{{msgs['noNewsForSrc']}} {{source.name}}</p>
						</div>
						<div id="{{source.idHtml}}"></div>
						<div ng-repeat="item in source.items | modeFilter:selectedMode track by $index"
							class="panel-body">
							<div ng-if="!item.read && !guestMode">
								<div class="icon-controls">
									<a class="lec-btn-link toggleButton pull-right"
										ng-click="toggleItemReadState(source, item)" role="button"
										title="{{ msgs['markAsRead'] }}"> <i
										class="material-icons md-dark">visibility</i>
									</a>
								</div>
								<div class="unreadArticle" ng-bind-html="item.htmlContent">
								</div>
								<div class="col-xs-2 col-md-3 labelSpacer"></div>
								<div class=" col-xs-9 col-md-8 labelRubrique">
									<span ng-repeat="rubrique in item.rubriques"
										class="rubrique label" ng-click="select(null, rubrique.srcId)"
										ng-style="colorText({{rubrique.color}})">{{rubrique.nom}}
									</span>
								</div>
								<hr />
							</div>
							<div ng-if="item.read && !guestMode ">
								<div class="icon-controls">
									<a class="lec-btn-link toggleButton pull-right"
										ng-click="toggleItemReadState( source, item)"
										role="button" title="{{ msgs['markAsUnread'] }}"
										ng-if="item.read"> <i class="material-icons md-dark">visibility_off</i>
									</a>
								</div>
								<div class="readArticle" ng-bind-html="item.htmlContent">
								</div>
								<div class="col-xs-2 col-md-3 labelSpacer"></div>
								<div class=" col-xs-9 col-md-8 labelRubrique">
									<span ng-repeat="rubrique in item.rubriques"
										class="rubrique label" ng-click="select(rubrique.srcId)"
										style="{{colorText(rubrique.color)}}">{{rubrique.nom}}
									</span>
								</div>
								<hr />
							</div>
						</div>
					</div>
				</div>
				<!-- Un message pour dire que la categorie est vide si elle est selectionnée 
					sur l'arbre -->
				<div
					ng-if="(cat.id !== null) && isCatEmpty(cat.id) && (isSelectedCat(cat) || guestMode ) "
					class="col-lg-12 panel-heading">
					<h4>{{msgs['noNewsForCat']}} "{{cat.name}}"</h4>
				</div>
			</div>
		</div>

	</div>
	<div class="row" ng-if="isAccueil">
		<div class="panel panel-default">
			<div class="panel panel-heading">
				<span class = "pull-left">{{msgs['newsNotRead']}} : {{numberUnread}}</span>
				<a type="button" class="btn btn-large btn-primary pull-right" href="{{lienVue}}">{{msgs['seeAll']}}</a>
			</div>
			<div class="panel-body"
				ng-repeat="item in acceuilItems">
				<div ng-if="!item.read ">
					<div class="unreadArticle" ng-bind-html="item.htmlContent"></div>
				</div>
				<div ng-if="item.read">
					<div class="readArticle" ng-bind-html="item.htmlContent"></div>
				</div>
				<hr />
			</div>
			 <div class ="panel-footer">
                                <a class ="pull-right" href="{{lienVue}}">{{msgs['seeAll']}}</a>
                        </div>
			
		</div>
	</div>

</div>

